server {
    server_name {{ ghost.domain_name }};
    server_tokens off;

    access_log /var/log/nginx/{{ ghost.domain_name }}.access.log;
    error_log /var/log/nginx/{{ ghost.domain_name }}.error.log;

    location / {
        proxy_pass http://{{ ghost.listen_addr }}:{{ ghost.listen_port }};
        proxy_set_header Host $host;
        proxy_buffering off;
    }
}
